*{
    box-sizing: border-box;
}

.top-ctr{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav{
display: flex;
justify-content: center;
visibility: hidden;
}

.optionRandom{
    position: absolute;
    top: 0;
    margin-left: 20vh;
    margin-top: 20vh;

}
.optionSpace{
    position: absolute;
    top: 0; 
    margin-right: 20vh;
    margin-top: 20vh;
}

img {
    height: 100%;
    width: 100%;
}

header{
    /* border: 5px solid orange; */
    height: 10vh;
    width: 35vh;
    font-size: 50px;
}
#playBtn{
    /* position: absolute;
    top: 0;  */
    border-radius: 5px;
    background-color: rgb(107, 139, 107);;
    height: 5vh;
    width: 10vh;
    margin-top: 10vh;
}

#optionCtr{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16vh;
}

body{
    /* background-color: rgb(255, 255, 169); */
    /* border: 1px solid red; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    
}

main{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

sub-main{
    border: px solid black; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}


.letter-ctr{
    border-radius: 5px;
    border: 5px;
    text-align: center;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    
    
}
footer>div{
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    
}


footer{
    /* background-color: rgb(255, 173, 173); */
    display: flex;
    justify-content: space-evenly;
}

.popupEnd{
    display: flex;
    justify-content: center;
    align-items: center;

}

button{
    /* border-radius: 3px; */
    border: 0;
    height: 3vh;
    width: 10vh;
    margin-top: 1vh;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(195, 219, 240);
    font-size: 20px;
    font-weight: bold;
} 